.screen{
    font-size: 3em;
    height: 20%;
    width: 90%;
    background-color: inherit;
    border: none;
}

hr{
    margin-top: 0px;
    padding-top: 0px;
    gap: 0px;
    width: 100%;
}

.result{
    font-size: 3em;

}